.movie-card {
  width: 200px;
  margin-inline: 30px;
  margin-bottom: 50px;
  border-radius: 10px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}

.movie-card:hover {
  transition: all 0.5s ease-in-out;
}

.image img {
  border-radius: 10px;
}

.movie-data {
  width: 200px;
  font-size: 15px;
}

.rating {
  margin: 5px 0px;
}
